/* app global css */
@font-face {
  font-family: promptM;
  src: url("../statics/fonts/Prompt-Medium.ttf");
}

body {
  font-family: promptM;
}

.container {
  margin: auto;
  width: 100%;
  max-width: 700px;
}

.container-input {
  margin: auto;
  width: 100%;
  max-width: 360px;
}

.brx {
  border: 1px solid red;
}

.brg {
  border: 1px solid #263238;
}
.brg2 {
  border: 1px solid #d4d4d4;
}

.br {
  border-radius: 10px;
}

.boxbtn {
  width: 150px;
  height: 33px;
}
